* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    /* Variables */
    --couleurLogo: #D04F4F;
    --color1: #3282F7;
    --color2: #68D9A4;
    --color3: #ED6454;
    --color1_hover: #245fb3;
    --color2_hover: #438c6b;
    --color3_hover: #b34c3e;
    --cardBackground: #C7BEBE;
    --recipeBackground: #e7e7e7;
}

body {
    margin: auto;
    background-color: #E5E5E5;
    max-width: 1440px;
    max-height: 1024px;
}

header {
    width: 100%;
    text-align: center;
    padding: 30px;
}

header h1 {
    font-family: 'DM sans', 'sans-serif';
    color: var(--couleurLogo);
}

.searchZone {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.searchZone .inputZone {
    background-color: blue;
    margin: auto;
}

.searchZone label {
    position: absolute;
    left: 10%;
    color: #C7BEBE;
    font-family: 'lato', 'sans-serif';
    font-weight: 400;
    line-height: 70px;
    transition: all 0.3s ease-in-out;
}

.searchImg {
    position: absolute;
    top: 20px;
    right: 120px;
}

#searchZoneTexte {
    margin: auto;
    width: 1240px;
    height: 70px;
    border-radius: 5px;
    /* border:none; */
    background-color: #e7e7e7;
    padding-left: 10px;
    font-family: 'lato', 'sans-serif';
    font-weight: 700;
    pointer-events: none;
    z-index: 10;
}

#searchZoneTexte:focus+label,
#searchZoneTexte:valid+label {
    color: #000;
    background-color: #e7e7e7;
    transform: translateY(-35px) translateX(-20px) scale(0.8);
    padding-left: 10px;
    padding-right: 10px;
}

#listBoxZone {
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 1240px;
    height: 100px;
    display: flex;
    align-items: flex-start;
}

.listbox {
    position: relative;
    width: 170px;
    height: 70px;
    font-family: 'lato', 'sans-serif';
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    line-height: 70px;
    border-radius: 5px;
    padding-left: 10px;
    margin-right: 20px;
    z-index: 2;
    cursor: pointer;
}

.dropdownIcone {
    position: absolute;
    right: 0px;
    content: url(../assets/icones/dropdowon.png);
    padding: 20px;
    top: 10px;
}

.dropupIcone {
    position: absolute;
    right: 0px;
    content: url(../assets/icones/dropup.png);
    padding: 20px;
    top: 10px;
}

.color1 {
    background-color: var(--color1);
}

.color2 {
    background-color: var(--color2);
}

.color3 {
    background-color: var(--color3);
}

.hidden {
    /* display: none; */
    transform: scale(0);
}

.filterZoneInput {
    position: relative;
    width: 600px;
    left: -10px;
    border-top-right-radius: 5px;
    padding-top: 10px;
}

.inputFilter {
    margin-left: 30px;
    line-height: 30px;
    width: 300px;
    outline: none;
    border: none;
    background-color: inherit;
    cursor: pointer;
    pointer-events: none;
    font-family: 'lato', 'sans-serif';
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
}

.inputFilter:focus~.inputLabel,
.inputFilter:valid~.inputLabel {
    transform: translateY(-25px) translateX(-45px) scale(0.8);
}

#ZoneinputIng .inputLabel,
#ZoneinputApp .inputLabel,
#ZoneinputUst .inputLabel {
    color: #fff;
    cursor: pointer;
}

#inputIng:hover,
#inputIng:focus {
    background-color: var(--color1_hover);
}

#inputApp:hover,
#inputApp:focus {
    background-color: var(--color2_hover);
}

#inputUst:hover,
#inputUst:focus {
    background-color: var(--color3_hover);
}

.blocItemsListe {
    position: absolute;
    font-weight: 400;
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: left;
    border-radius: 50px;
    left: 0;
}

.itemListe {
    list-style: none;
    line-height: 50px;
    height: 50px;
    width: 200px;
    padding-left: 10px;
    font-family: 'lato', 'sans-serif';
    color: #fff;
    font-weight: 400;
    cursor: pointer;
}

#ingredients:hover,
#ingredients .itemListe:hover {
    background-color: var(--color1_hover);
}

#apareils:hover,
#apareils .itemListe:hover {
    background-color: var(--color2_hover);
}

#ustensiles:hover,
#ustensiles .itemListe:hover {
    background-color: var(--color3_hover);
}

#tagZone {
    position: relative;
    margin: auto;
    margin-top: 15px;
    padding-bottom: 15px;
    width: 1240px;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.tag {
    padding-right: 30px;
    line-height: 50px;
    font-size: 18px;
    font-family: 'DM sans', 'sans-serif';
    font-weight: 400;
    color: #fff;
    border-radius: 10px;
    padding-left: 15px;
    margin: 5px;
}

.closeImg {
    position: relative;
    top: 5px;
    right: -15px;
    cursor: pointer;
}

main {
    width: 1240px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.card {
    position: relative;
    width: 380px;
    height: 384px;
    background-color: var(--cardBackground);
}

.recipe {
    position: absolute;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: inherit;
    height: 206px;
    background-color: var(--recipeBackground);
    bottom: 0;
}

.cadre {
    height: 178px;
    background-color: var(--cardBackground);
}

.recipeheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.recipetitle {
    font-family: 'lato', 'sans-serif';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.recipetime {
    font-family: 'lato', 'sans-serif';
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: inline-flex;
}

.recipetime:before {
    content: url(../assets/icones/clock.png);
    padding-right: 5px;
}

.recipedetail {
    display: flex;
    justify-content: space-around;
    height: 200px;
}

.recipeingredients,
.recipedescription {
    width: 171px;
    height: 155px;
}

.recipedescription {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 12px;

    overflow: auto;
    text-overflow: ellipsis;

}

.recipeingredient {
    font-family: 'lato', 'sans-serif';
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
}

.quantite {
    font-family: 'lato', 'sans-serif';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.message {
    position: absolute;
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-family: 'lato', 'sans-serif';
    font-weight: 700;
    font-size: 20px;
}